/* @-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 500px;

  color: #999;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC");
  background-repeat: repeat;
  overflow-x: hidden;
}

html {
  font-family: "Armata", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

#menu-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-top: 70px;
  font-weight: normal;
  font-size: 19px;
  position: relative;
}

.menu-item {
  margin-right: 30px;
}

.menu-item-selected {
  font-weight: bold;
}

#side-menu-item {
  align-self: flex-end;
}

#background-stripe {
  width: 200%;
  height: 475px;
  text-align: center;
  background-color: rgba(192, 192, 192, 0.25);
  background-image: url(stripes.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  position: absolute;
  top: 170px;
  z-index: -100;
}

#logo {
  line-height: 220px;
  font-size: 220px;
  font-family: "Audiowide", cursive;
  font-weight: bold;
  background-size: 10%;
  background-image: url(https://media.giphy.com/media/3M9E7L03hNYnfrK6dM/giphy.gif);
  background-position: center;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  filter: saturate(500%);
  text-shadow: 8px 8px 0px rgba(255, 255, 255, 0.5), 0px 0px 0px rgba(0, 0, 0, 0.5);
}

#theme-button {
  display: inline-block;
}

#theme-checkbox {
  display: none;
}

#theme-checkbox:checked + label ~ #theme-option-container {
  height: 120px;
}

#theme-select:hover {
  cursor: pointer;
}

#theme-select {
  height: 18px;
  overflow: hidden;
}

#theme-option-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 18px;
  z-index: 1;
  -webkit-transition: height 1s;
  transition: height 1s;
  background-color: blue;
  height: 0px;
  overflow: hidden;
}

.theme-option {
  padding-bottom: 5px;
  white-space: nowrap;
}

#theme-link {
  font-style: italic;
  background-color: rgba(192, 192, 192, 0.3);
  color: LightSlateGrey;
}

#theme-link:hover {
  background-color: rgba(192, 192, 192, 0.1);
  color: SkyBlue;
}

#lang-button {
  display: inline-block;
}

#lang-checkbox {
  display: none;
}

#lang-checkbox:checked + label ~ #lang-option-container {
  height: 120px;
}

#lang-select:hover {
  cursor: pointer;
}

#lang-select {
  height: 18px;
  overflow: hidden;
}

#lang-option-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 18px;
  z-index: 1;
  -webkit-transition: height 1s;
  transition: height 1s;
  background-color: blue;
  height: 0px;
  overflow: hidden;
}

.lang-option {
  padding-bottom: 5px;
  white-space: nowrap;
}

#lang-link {
  font-style: italic;
  background-color: rgba(192, 192, 192, 0.3);
  color: LightSlateGrey;
}

#lang-link:hover {
  background-color: rgba(192, 192, 192, 0.1);
  color: SkyBlue;
}

#left-menu-container {
  display: inherit;
}

.page-title {
  width: 900px;
  color: DarkGray;
  margin-bottom: 30px;
}

.title {
  width: 900px;
  margin-top: 50px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-size: 24px;
  color: black;
}

.paragraph {
  width: 900px;
  text-align: justify;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
}

#menu-icon {
  font-size: 20px;
}
