<head>
    <meta charset="UTF-8"/>
    <title th:text="#{${current} + '.title'}"></title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    <link href="./themes/saline/styles.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".lang-option").click(function () {
                let selectedLocale = $(this).attr("data-locale");
                $.post("/", {
                    locale: selectedLocale
                }, function(data) {
                    location.reload();
                });
            });
        });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120973842-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-120973842-3');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Ruthie&display=swap" rel="stylesheet">
</head>
