<head>
    <meta charset="UTF-8"/>
    <title th:text="${menu[0][0]}"></title>
    <link
            href="https://fonts.googleapis.com/css?family=Armata&display=swap"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    <link href="./styles.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".lang-option").click(function () {
            let selectedLocale = $(this).attr("data-locale");
            $.post("/", {
                locale: selectedLocale
            }, function(data) {
                location.reload();
            });
        });
    });

    </script>
</head>
