<div class="wrap" id="content-area">
    <div id="menu-container">
        <div id="left-menu-container">
            <a class="menu-item" th:text="#{menu.developments}" href="./developments"
               th:classappend="${current.equals('developments')} ? menu-item-selected : null"></a>
            <a class="menu-item" th:text="#{menu.about}" href="./about"
               th:classappend="${current.equals('about')} ? menu-item-selected : null"></a>
        </div>
        <div id="right-menu-container">
            <div id="theme-button" class="menu-item">
                <div id="theme-option-container">
                    <div id="theme-options">
                        <a class="theme-option" id="theme-current">MKEIN2</a>
                        <a class="theme-option">SALINE</a>
                        <a class="theme-option">RANDOM</a>
                    </div>
                </div>
                <a th:text="#{menu.theme}" id="theme-link"></a>
            </div>
            <div id="lang-button" class="menu-item" th:classappend="${current.equals('home')} ? 'lang-button-home' : null">
                <div id="lang-option-container">
                    <div id="lang-options">
                        <a class="lang-option" data-locale="en" th:text="#{lang.en}"
                           th:classappend="__${#locale}__ == 'en' ? 'lang-current' : null"></a>
                        <a class="lang-option" data-locale="ru" th:text="#{lang.ru}"
                           th:classappend="__${#locale}__ == 'ru' ? 'lang-current' : null"></a>
                        <a class="lang-option" data-locale="ee" th:text="#{lang.ee}"
                           th:classappend="__${#locale}__ == 'ee' ? 'lang-current' : null"></a>
                    </div>
                </div>
                <a th:text="#{menu.language}" id="lang-link"></a>
            </div>
            <a id="home-button" th:if="${!current.equals('home')}" th:text="'< ' + #{menu.home}" href="./"></a>
        </div>
    </div>
</div>