<div class="time-container">
    <div class="time-created">Date created:
        <div class="time">21.08.2015<img title="Created less than a year ago" src="time_year.svg" width="22" height="22"></div>
    </div>
    <div class="time-updated">Date updated:
        <div class="time">22.01.2020<img title="Updated less than 2 years ago" src="time_2-years.svg" width="22" height="22">
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="time-container-small">
    <div class="time-updated">Date updated:
        <div class="time">22.47.1551<img title="Updated less than 2 years ago" src="time_2-years.svg" width="22" height="22">
        </div>
    </div>
</div>