<br/>
<br/>
<div th:classappend="${created == null || updated == null} ? time-container-small : time-container">
    <div th:if="${created != null}" class="time-created"
         th:classappend="${updated != null} ? time-created-border : null">Date created:
        <div class="time" th:inline="text">[[${created}]]<img title="Created less than a year ago" src="time_year.svg"
                                                              width="22"
                                                              height="22"></div>
    </div>
    <div th:if="${updated != null}" class="time-updated">Date updated:
        <div class="time" th:inline="text">[[${updated}]]<img title="Updated less than 2 years ago"
                                                              src="time_2-years.svg" width="22"
                                                              height="22">
        </div>
    </div>
</div>