<!DOCTYPE html>
<html th:attr="lang=${#locale}">
<head th:replace="fragments/header"></head>
<body>
<div th:replace="fragments/menu"></div>
<div class="title-container">
    <h2 th:text="#{about.website.title}"></h2>
</div>
<div class="text-container" id="about-text-container">
    <div class="text" th:inline="text">
        <b class="subtitle" th:text="#{about.website.concept.title}"></b><br/>
        [[#{about.website.concept.text}]]
        <br/>
        <br/>
        <b class="subtitle" th:text="#{about.website.time.title}"></b><br/>
        [[#{about.website.time.text}]]
        <br/>
        <br/>
        <b class="subtitle" th:text="#{about.website.credits.title}"></b><br/>
        [[#{about.website.credits.icons1}]] <a target="_blank" href="https://www.freepik.com/">Freepik</a>
        [[#{about.website.credits.icons2}]] <a
            target="_blank" href="https://www.flaticon.com/packs/moon-phase-3">www.flaticon.com</a>[[#{about.website.credits.icons3}]]
        <br/>
        [[#{about.website.credits.lightLogo1}]] <a
            target="_blank" href="https://giphy.com/gifs/3d-retro-render-3M9E7L03hNYnfrK6dM">www.giphy.com</a>[[#{about.website.credits.lightLogo2}]]
        <br/>
        [[#{about.website.credits.lightBackground1}]] <a
            target="_blank" href="https://www.toptal.com/designers/subtlepatterns/grid-me/">www.toptal.com</a>[[#{about.website.credits.lightBackground2}]]
        <br/>
        [[#{about.website.credits.vividLogo1}]] <a
            target="_blank" href="https://giphy.com/gifs/mia-goth-glcEbibOkOkuY">www.giphy.com</a>[[#{about.website.credits.vividLogo2}]]
        <br/>
        [[#{about.website.credits.vividBackground1}]] <a
            target="_blank" href="https://pixabay.com/illustrations/abstract-tiles-pattern-square-1959395/">www.pixabay.com</a>[[#{about.website.credits.vividBackground2}]]
        <br/>
        <br/>
        <i th:text="#{about.website.opensource}"></i>
        <div
                th:replace="fragments/time(created=${websiteCreated}, updated=${websiteUpdated})"
        ></div>
    </div>
</div>
<div class="title-container">
    <h2 th:text="#{about.contacts.title}"></h2>
</div>
<div class="text-container">
    <div class="text" id="contacts">
        <span class="contact-label">GitHub:</span><a target="_blank"
                                                     href="https://github.com/MKeiNll">www.github.com/MKeiNll</a>

        <br/>
        <span class="contact-label">LinkedIn:</span><a target="_blank"
                                                       href="https://www.linkedin.com/in/levgirich/">www.linkedin.com/in/levgirich</a>

        <br/>
        <span class="contact-label" th:text="#{about.contacts.email}"></span><span>saline@nightcruise.io</span>
    </div>
</div>
</body>
</html>
