<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header"></head>
<body>
<div th:replace="fragments/menu"></div>
<h2 class="title">
    This Website
</h2>
<div class="text-container">
    <div class="text">
        The source code of this website can be found on GitHub.<br/><br/>
        Credits to <b>John Titor</b> for background image<br/>
        Credits to <b>Mark Zuckerberg</b> for logo background animation
        <div th:replace="fragments/time"></div>
    </div>
</div>
<h2 class="title">
    CV
</h2>
<div class="text-container">
    <div class="text">
        <b>Name:</b> Lev Girich<br/>
        <b>Languages:</b> Russian<br/>
        <b>Technologies:</b> Spring boot<br/>
        <b>Work experience:</b> 10 years at Google
        <div th:replace="fragments/time-small"></div>
    </div>
</div>
</body>
</html>
