<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header"></head>
<body>
<div th:replace="fragments/menu"></div>
<div class="title-container">
    <h2>
        SporeX
    </h2>
</div>
<div class="text-container">
    <div class="text">
        This game is really cool.
        I made it when i was 16 yo.
        Please play it and donate much money thank yoy.
        <div th:replace="fragments/time(created=${sporexCreated}, updated=${sporexUpdated})"></div>
    </div>
</div>
<div class="title-container">
    <h2>
        Marble Blast Fusion
    </h2>
</div>
<div class="text-container">
    <div class="text">
        Another coolio game super fun super extra mega fun extra mega super.
        Thank you.
        <div th:replace="fragments/time(created=${mbfCreated}, updated=${mbfUpdated})"></div>
    </div>
</div>
<div class="title-container">
    <div class="coming-soon-title-container">
        <h2>
            Renade
        </h2>
        <div class="coming-soon">COMING SOON</div>
    </div>
</div>
<div class="text-container">
    <div class="text">
        Work in progress. This will be the biggest and coolest and
        most feature-rich GtaV server ever made.
    </div>
</div>
</body>
</html>
