<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header"></head>
<body>
<div th:replace="fragments/menu"></div>
<div class="title-container">
    <h2>
        SporeX
    </h2>
</div>
<div class="text-container">
    <div class="text">
        A top down shooter online multiplayer game.
        <br><br>
        Based on a Box2D physics engine featuring collision detection,
        movable objects and real world-like armor/penetration system where reduced armor is equal to the armor
        multiplied by the cosine of the bullet angle
        to armor normal.
        <br><br>
        Includes feature-rich interface, 15 different tanks (each with its own unique hull & turret armor scheme), 4
        playable maps & much more.
        <br><br>
        Features fully working online multiplayer with lobbies, matchmaking & leaderboard. Networking is based on
        KryoNet and features full server-side physic calculations, with client-side only rendering received values.
        <br><br>
        The JRE is packed within the launcher, therefore no Java installation is needed in order to play.
        <br><br>
        More info - <a href="https://sporex.monster" target="_blank">sporex.monster</a>
        <div
                th:replace="fragments/time(created=${sporexCreated}, updated=${sporexUpdated})"
        ></div>
    </div>
</div>
<div class="title-container">
    <div class="coming-soon-title-container">
        <h2>
            Marble Blast FUSION
        </h2>
        <div class="coming-soon">COMING SOON&nbsp;</div>
    </div>
</div>
<div class="title-container">
    <div class="coming-soon-title-container">
        <h2>
            Tomb
        </h2>
        <div class="coming-soon">COMING SOON&nbsp;</div>
    </div>
</div>
<div class="title-container">
    <div class="coming-soon-title-container">
        <h2>
            Spiral Arms
        </h2>
        <div class="coming-soon">COMING SOON&nbsp;</div>
    </div>
</div>
</body>
</html>
