<!DOCTYPE html>
<html th:attr="lang=${#locale}">
<head th:replace="fragments/header"></head>
<body>
<div th:replace="fragments/menu"></div>
<div class="title-container">
    <h2>SporeX</h2>
</div>
<div class="text-container">
    <div class="text" th:inline="text">
        [[#{developments.sx.p1}]]
        <br><br>
        [[#{developments.sx.p2}]]
        <br><br>
        [[#{developments.sx.p3}]]
        <br><br>
        [[#{developments.sx.p4}]]
        <br><br>
        [[#{developments.sx.p5}]]
        <br><br>
        [[#{developments.sx.p6}]]
        <br><br>
        [[#{developments.sx.p7}]] <a href="https://sporex.monster" target="_blank">sporex.monster</a>
        <div
                th:replace="fragments/time(created=${sporexCreated}, updated=${sporexUpdated})"
        ></div>
    </div>
</div>
<div class="title-container">
    <h2>Marble Blast FUSION</h2>
</div>
<div class="text-container">
    <div class="text" th:inline="text">
        [[#{developments.mbf.p1}]]
        <br><br>
        [[#{developments.mbf.p2}]]
        <br><br>
        [[#{developments.mbf.p3}]]
        <br><br>
        [[#{developments.mbf.p4}]]
        <br><br>
        [(#{developments.mbf.p5})]
        <br><br>
        <b>NB!</b> [[#{developments.mbf.p6}]]
        <br><br>
        <a href="/builds/Marble Blast FUSION v0.12.2.rar" target="_blank">[[#{developments.mbf.p7}]]</a>
        <div
                th:replace="fragments/time(created=${mbfCreated}, updated=${mbfUpdated})"
        ></div>
    </div>
</div>
</body>
</html>
