<!DOCTYPE html>
<html th:attr="lang=${#locale}">
<head th:replace="fragments/header"></head>
<body>
<div th:replace="fragments/menu"></div>
<div class="title-container">
    <h2>
        Towatched
    </h2>
</div>
<div class="text-container">
    <div class="text">
        aye
        <div th:replace="fragments/time(updated=${towatchedUpdated})"></div>
    </div>
</div>
<div class="title-container">
    <h2>
        Toread
    </h2>
</div>
<div class="text-container">
    <div class="text">
        aye2
        <div th:replace="fragments/time(updated=${toreadUpdated})"></div>
    </div>
</div>
<div class="title-container">
    <h2>
        Toplayed
    </h2>
</div>
<div class="text-container">
    <div class="text">
        ayeeee33
        <div th:replace="fragments/time(updated=${toplayedUpdated})"></div>
    </div>
</div>
<div class="title-container">
    <h2>
        Tolearned
    </h2>
</div>
<div class="text-container">
    <div class="text">
        mat foreva
        <div th:replace="fragments/time(updated=${tolearnedUpdated})"></div>
    </div>
</div>
<div class="title-container">
    <h2>
        XXXTAR
    </h2>
</div>
<div class="text-container">
    <div class="text">
        mat17
        <div th:replace="fragments/time(updated=${xxxtarUpdated})"></div>
    </div>
</div>
</body>
</html>
