$LARGE_SCREEN: 1700px;
$SMALL_SCREEN: 1250px;

// HTML & BODY

html {
  font-family: "Fira Mono";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 250px;
  padding-bottom: 120px;

  background-repeat: repeat;

  min-width: 800px;
}

@media only screen and (max-width: $LARGE_SCREEN) and (min-width: $SMALL_SCREEN + 1px) {
  body {
    margin: 0 auto;
    width: 1200px;
  }
}

@media only screen and (max-width: $SMALL_SCREEN) {
  body {
    margin: 0;
    width: 100%;
  }
}

// MENU

#left-menu-container,
#right-menu-container {
  display: flex;
}

#menu-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  #menu-container {
    font-weight: normal;
    position: relative;
  }
}

#menu-container a {
  text-decoration: none;
}

#home-button {
  display: inline-block;
}

#home-button,
.menu-item {
  margin-top: 3px;
}

.menu-item-selected {
  font-weight: bold;
  pointer-events: none;
}

// THEME SELECT

#theme-button {
  display: inline-block;
  position: relative;
}

#theme-link {
  font-style: italic;
}

#theme-button:hover > #theme-option-container {
  -webkit-transition: width 0.4s, height 0.4s;
  transition: width 0.4s, height 0.4s;
}

#theme-options {
  position: relative;
  top: 9px;
}

#theme-option-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  -webkit-transition: width 0.15s, height 0.15s;
  transition: width 0.15s, height 0.15s;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.theme-option {
  padding: 9px;
  white-space: nowrap;
  display: inline-block;
}

.theme-option:hover:not(.theme-current) {
  cursor: pointer;
}

// LANGUAGE SELECT

#lang-link {
  font-style: italic;
}

#lang-button {
  display: inline-block;
  position: relative;
}

#lang-button:hover > #lang-option-container {
  -webkit-transition: width 0.4s, height 0.4s;
  transition: width 0.4s, height 0.4s;
}

#lang-options {
  position: relative;
  top: 9px;
}

#lang-option-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  -webkit-transition: width 0.15s, height 0.15s;
  transition: width 0.15s, height 0.15s;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.lang-option {
  padding: 9px;
  white-space: nowrap;
  display: inline-block;
}

.lang-option:hover:not(.lang-current) {
  cursor: pointer;
}

// LOGO

#logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 33vw;
  position: absolute;
  background-repeat: no-repeat;
  top: 170px;
  left: 0px;
}

#logo {
  white-space: nowrap;
}

@supports (-moz-background-clip: text) {
  #logo {
    background-position: center;
    -moz-background-clip: text;
    background-clip: text;
  }
}

@supports (-webkit-background-clip: text) {
  #logo {
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

@supports (background-clip: text) {
  #logo {
    background-position: center;
    background-clip: text;
  }
}

// GENERIC

.preview {
  max-width: 40%;
  min-width: 40%;
  margin-left: 20px;
  border: 3px solid rgba(139, 163, 187, 0.5);
  background-color: rgba(139, 163, 187, 0.2);
}

.invisible-element {
  visibility: hidden;
}

.title-container {
  width: 900px;
}

.subtitle {
  display: inline-block;
  margin-bottom: 5px;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  .title-container {
    width: 100%;
  }
}

.text-container {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  .text-container {
    width: 100%;
  }
}

.text {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: flex;
}

.time-container {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 5px;
}

.time-container-small {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 5px;
}

.time-created {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 34px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.time-updated {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 34px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

#contacts {
  line-height: 36px;
}

.contact-label {
  display: inline-block;
  width: 110px;
  font-weight: bold;
}
