@import '_shared';

$font-size: 18px;
$menu-font-size: 22px;

$color: rgb(224, 224, 224);

$title-color: black;
$link-color: rgb(224, 224, 224);

$menu-link-color: rgb(224, 224, 224);
$menu-link-hover-color: rgb(128, 128, 128);

$theme-options-background: rgb(235, 235, 235);
$theme-options-border: 3px solid rgba(192, 192, 255, 0.5);
$theme-option-hover-background: rgb(211, 211, 211);
$theme-option-hover-color: white;
$theme-current-background: rgba(192, 192, 255, 0.5);

$lang-options-background: rgb(235, 235, 235);
$lang-options-border: 3px solid rgba(255, 192, 192, 0.5);
$lang-option-hover-background: rgb(211, 211, 211);
$lang-option-hover-color: white;
$lang-current-background: rgba(255, 192, 192, 0.5);

$logo-background: rgba(192, 192, 192, 0.3);
$logo-text-shadow: 8px 8px 0px rgba(255,255,255,.7), 0px 0px 0px rgba(8,8,8,.9);

$text-background: rgba(192, 192, 192, 0.3);

$time-container-background: rgba(192, 192, 192, 0.3);
$time-inner-border: 1px solid rgba(64, 64, 64, 0.5);

$preview-background: rgba(139, 163, 187, 0.2);
$preview-border: 3px solid rgba(139, 163, 187, 0.5);

// HTML & BODY & H2 & A & B

html {
  font-size: $font-size;
  line-height: $font-size;
}

body {
  color: $color;
  background: url(../themes/dark/bg.jpg);
  min-width: 800px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 18px;
  padding-left: 18px;
  font-size: 24px;
  color: $title-color;
}

@media only screen and (max-width: $LARGE_SCREEN) {
  h2 {
    font-size: 30px;
  }

  #about-text-container b {
    font-size: 24px;
  }
}

a {
  color: $link-color;
}

// MENU

#left-menu-container,
#right-menu-container {
  padding-top: 10px;
}

#menu-container {
  width: 1200px;
  margin-top: 30px;
  font-size: $menu-font-size;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  #menu-container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 70px;
  }
}

#menu-container a {
  text-decoration: none;
  color: $menu-link-color;
}

#menu-container a:hover {
  color: $menu-link-hover-color;
}

.menu-item {
  margin-right: 30px;
}

#home-button {
  width: 100px;
}

// THEME SELECT

#theme-link {
  padding-left: 5px;
  padding-right: 5px;
}

#theme-link:hover {
  cursor: pointer;
}

#theme-button:hover > #theme-option-container {
  height: 125px;
  width: 106px;
}

.theme-option {
  width: 82px;
}

#theme-options {
  width: 100px;
  height: 108px;
  background-color: $theme-options-background;
  border: $theme-options-border;
}

#theme-option-container {
  left: -12px;
  top: 18px;
}

#theme-option-container:hover ~ #theme-link {
  color: $menu-link-hover-color;
}

.theme-option:hover:not(.theme-current) {
  color: $theme-option-hover-color;
}

.theme-current {
  background-color: $theme-current-background;
}

.theme-current:active {
  pointer-events: none;
}

// LANGUAGE SELECT

.lang-button-home {
  margin-right: 130px;
}

#lang-link {
  padding-left: 5px;
  padding-right: 5px;
}

#lang-link:hover {
  cursor: pointer;
}

#lang-button:hover > #lang-option-container {
  height: 123px;
  width: 143px;
}

.lang-option {
  width: 119px;
}

#lang-options {
  width: 137px;
  height: 108px;
  border: $lang-options-border;
  background-color: $lang-options-background;
}

#lang-option-container {
  left: -12px;
  top: 18px;
}

#lang-option-container:hover ~ #lang-link {
  color: $menu-link-hover-color;
}

.lang-option:hover:not(.lang-current) {
  color: $lang-option-hover-color;
}

.lang-current {
  background-color: $lang-current-background;
}

.lang-current:active {
  pointer-events: none;
}

// LOGO

$bg-width: 720px;
$bg-height: 720px;
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height;; }
}

#logo-container {
  height: 2vw;
  top: 500px;
  border-top: 1vw solid rgba(8,8,8,0.5);
  border-bottom: 1vw solid rgba(8,8,8,.5);

  background: url(../themes/dark/bg-stripe.png) repeat 0 0;

  -webkit-animation: bg-scrolling-reverse 40s infinite;
  -moz-animation:    bg-scrolling-reverse 40s infinite;
  -o-animation:      bg-scrolling-reverse 40s infinite;
  animation:         bg-scrolling-reverse 40s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
}

#logo {
  font-size: 10vw;
  font-family: "Girassol", cursive;
  font-weight: bold;
  color: transparent;
  filter: saturate(500%);
  text-shadow: $logo-text-shadow;
  margin-left: 4%;
  position: relative;
  bottom: 1.5vw;
  left: 200px;
}

// GENERIC

.preview {
  margin-left: 18px;
  border: $preview-border;
  background-color: $preview-background;
}

.text {
  background-color: $text-background;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 18px;
  line-height: 24px;
  margin-left: -8px;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  .text {
    padding-left: 5%;
    padding-right: 1%;
    width: 94%;
  }
}

.time-container {
  background-color: $time-container-background;
  width: 400px;
  height: 68px;
  padding-right: 5px;
}

.time-container-small {
  background-color: $time-container-background;
  width: 400px;
  height: 34px;
  padding-right: 5px;
}

.time-created {
  width: 395px;
}

.time-updated-border {
  border-bottom: $time-inner-border;
}

.time-updated {
  width: 395px;
}

.time {
  width: 135px;
}
