@import '_shared';

$font-size: 18px;
$menu-font-size: 22px;

$color: rgb(224, 224, 224);

$title-color: white;
$link-color: rgb(224, 0, 0);

$menu-link-color: rgb(224, 224, 224);
$menu-link-hover-color: rgb(128, 128, 128);
$menu-item-background: rgba(0, 0, 0, 0.5);
$menu-item-hover-background: rgba(0, 0, 0, 0.25);

$select-options-background: rgb(32, 32, 32);
$select-options-border: 1px solid black;
$select-option-color: rgb(224, 224, 224);
$select-option-hover-background: rgb(64, 64, 64);
$select-option-hover-color: rgb(128, 128, 128);
$select-current-background: rgba(8, 8, 8, 0.5);
$select-current-color: rgb(128, 128, 128);

$logo-background: rgba(192, 192, 192, 0.3);
$logo-text-shadow: 8px 8px 0px rgba(255,255,255,.7), 0px 0px 0px rgba(8,8,8,.9);

$text-background: rgba(0, 0, 0, 0.5);
$text-b-text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
$text-b-color: rgb(192, 0, 128);

$time-container-background: rgba(0, 0, 0, 0.5);
$time-inner-border: 1px solid black;

$preview-background: rgba(0, 0, 0, 0.5);
$preview-border: 2px solid rgb(224, 224, 224);

// HTML & BODY & H2 & A & B

html {
  font-size: $font-size;
  line-height: $font-size;
}

body {
  color: $color;
  background: url(../themes/dark/bg.jpg);
  min-width: 800px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 18px;
  padding-left: 18px;
  font-size: 35px;
  color: $title-color;
}

a {
  color: $link-color;
}

// MENU

#left-menu-container,
#right-menu-container {
  padding-top: 10px;
}

#menu-container {
  width: 1200px;
  margin-top: 30px;
  font-size: $menu-font-size;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  #menu-container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

#menu-container a {
  text-decoration: none;
  color: $menu-link-color;
}

#menu-container a:hover {
  color: $menu-link-hover-color;
}

.menu-item {
  margin-right: 30px;
  background-color: $menu-item-background;
  padding: 20px;
}

.menu-item:hover {
  background-color: $menu-item-hover-background;
}

#home-button {
  width: 100px;
  padding: 20px;
}

// THEME SELECT

#theme-link {
  padding-left: 5px;
  padding-right: 5px;
}

#theme-link:hover {
  cursor: pointer;
}

#theme-button:hover > #theme-option-container {
  height: 157px;
  width: 137px;
}

.theme-option {
  width: 117px;
  color: $select-option-color !important;
  padding: 15px;
}

.theme-option:not(.theme-current):hover {
  color: $select-option-hover-color !important;
}

#theme-options {
  width: 135px;
  height: 144px;
  background-color: $select-options-background;
  border: $select-options-border;
}

#theme-option-container {
  left: 8px;
  top: 38px;
}

#theme-option-container:hover ~ #theme-link {
  color: $menu-link-hover-color;
}

.theme-option:hover:not(.theme-current) {
  color: $select-option-hover-color;
}

.theme-current {
  background-color: $select-current-background;
  color: $select-current-color !important;
}

.theme-current:active {
  pointer-events: none;
}

// LANGUAGE SELECT

.lang-button-home {
  margin-right: 130px;
}

#lang-link {
  padding-left: 5px;
  padding-right: 5px;
}

#lang-link:hover {
  cursor: pointer;
}

#lang-button:hover > #lang-option-container {
  height: 157px;
  width: 174px;
}

.lang-option {
  width: 154px;
  color: $select-option-color !important;
  padding: 15px;
}

.lang-option:not(.lang-current):hover {
  color: $select-option-hover-color !important;
}

#lang-options {
  width: 172px;
  height: 144px;
  border: $select-options-border;
  background-color: $select-options-background;
}

#lang-option-container {
  left: 8px;
  top: 38px;
}

#lang-option-container:hover ~ #lang-link {
  color: $menu-link-hover-color;
}

.lang-option:hover:not(.lang-current) {
  color: $select-option-hover-color;
}

.lang-current {
  background-color: $select-current-background;
  color: $select-current-color !important;
}

.lang-current:active {
  pointer-events: none;
}

// LOGO

$bg-width: 720px;
$bg-height: 720px;
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height;; }
}

#logo-container {
  height: 2vw;
  top: 500px;
  border-top: 1vw solid rgba(8,8,8,0.5);
  border-bottom: 1vw solid rgba(8,8,8,.5);

  background: url(../themes/dark/bg-stripe.png) repeat 0 0;

  -webkit-animation: bg-scrolling-reverse 40s infinite;
  -moz-animation:    bg-scrolling-reverse 40s infinite;
  -o-animation:      bg-scrolling-reverse 40s infinite;
  animation:         bg-scrolling-reverse 40s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
}

#logo {
  font-size: 10vw;
  font-family: "Girassol", cursive;
  font-weight: bold;
  color: transparent;
  filter: saturate(500%);
  text-shadow: $logo-text-shadow;
  margin-left: 4%;
  position: relative;
  bottom: 1.5vw;
  left: 200px;
}

// GENERIC

.preview {
  margin-left: 25px;
  border: $preview-border;
  background-color: $preview-background;
  border-radius: 10px;
}

.text {
  background-color: $text-background;
  padding: 25px;
  border-radius: 10px;
  line-height: 24px;
  margin-left: -8px;
}

.text b {
  color: $text-b-color;
  text-shadow: $text-b-text-shadow;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  .text {
    padding-left: 5%;
    padding-right: 1%;
    width: 94%;
  }
}

#about-text-container b {
  font-size: 24px;
}

.time-container {
  background-color: $time-container-background;
  width: 400px;
  height: 68px;
  padding: 10px;
  padding-right: 15px;
  border-radius: 10px;
}

.time-container-small {
  background-color: $time-container-background;
  width: 400px;
  height: 34px;
  padding: 10px;
  padding-right: 15px;
  border-radius: 10px;
}

.time-created {
  width: 395px;
}

.time-updated-border {
  border-bottom: $time-inner-border;
}

.time-updated {
  width: 395px;
}

.time {
  width: 135px;
}
