@import '_shared';

$font-size: 18px; 

$color: #404040;

$title-color: black;
$link-color: rgb(128, 128, 192);

$menu-link-color: black;
$menu-link-hover-color: rgb(128, 128, 128);

$theme-link-background: rgba(192, 192, 255, 0.5);
$theme-link-color: rgb(64, 64, 64);
$theme-link-hover-background: rgba(192, 192, 255, 0.3);
$theme-link-hover-color: rgb(211, 211, 211);
$theme-options-background: rgb(235, 235, 235);
$theme-options-border: 3px solid rgba(192, 192, 255, 0.5);
$theme-option-hover-background: rgb(211, 211, 211);
$theme-option-hover-color: white;
$theme-current-background: rgba(192, 192, 255, 0.5);

$lang-link-color: rgb(128, 96, 96);
$lang-link-background: rgba(255, 192, 192, 0.5);
$lang-link-hover-color: rgb(160, 128, 128);
$lang-link-hover-background: rgba(255, 192, 192, 0.3);
$lang-options-background: rgb(235, 235, 235);
$lang-options-border: 3px solid rgba(255, 192, 192, 0.5);
$lang-option-hover-background: rgb(211, 211, 211);
$lang-option-hover-color: white;
$lang-current-background: rgba(255, 192, 192, 0.5);

$logo-background: rgba(192, 192, 192, 0.3);
$logo-text-shadow: 8px 8px 0px rgba(255, 255, 255, 0.5),
    0px 0px 0px rgba(0, 0, 0, 0.5);
$logo-container-background: rgba(192, 192, 192, 0.3);

$text-background: rgba(192, 192, 192, 0.3);

$time-container-background: rgba(192, 192, 192, 0.3);
$time-inner-border: 1px solid rgba(64, 64, 64, 0.5);

// HTML & BODY & H2 & A & B

html {
  font-size: $font-size;
  line-height: $font-size;
}

body {
  color: $color;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC");
}

h2 {
  margin-top: 50px;
  margin-bottom: 18px;
  padding-left: 18px;
  font-size: 24px;
  color: $title-color;
}

@media only screen and (max-width: $LARGE_SCREEN) {
  h2 {
    font-size: 30px;
  }

  #about-text-container b {
    font-size: 24px;
  }
}

a {
  color: $link-color;
}

// MENU

#left-menu-container,
#right-menu-container {
  padding-top: 10px;
}

#menu-container {
  width: 900px;
  margin-top: 60px;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  #menu-container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 70px;
  }
}

#menu-container a {
  text-decoration: none;
  color: $menu-link-color;
}

#menu-container a:hover {
  color: $menu-link-hover-color;
}

.menu-item {
  margin-right: 30px;
}

#home-button {
  width: 100px;
}

// THEME SELECT

#theme-link {
  background-color: $theme-link-background;
  color: $theme-link-color;
  padding-left: 5px;
  padding-right: 5px;
}

#theme-link:hover {
  background-color: $theme-link-hover-background;
  color: $theme-link-hover-color;
  cursor: pointer;
}

#theme-button:hover > #theme-option-container {
  height: 125px;
  width: 106px;
}

.theme-option {
  width: 82px;
}

#theme-options {
  width: 100px;
  height: 108px;
  background-color: $theme-options-background;
  border: $theme-options-border;
}

#theme-option-container {
  left: -12px;
  top: 18px;
}

#theme-option-container:hover ~ #theme-link {
  background-color: $theme-link-hover-background;
  color: $theme-link-hover-color;
}

.theme-option:hover:not(.theme-current) {
  background-color: $theme-option-hover-background;
  color: $theme-option-hover-color;
}

.theme-current {
  background-color: $theme-current-background;
}

.theme-current:active {
  pointer-events: none;
}

// LANGUAGE SELECT

.lang-button-home {
  margin-right: 130px;
}

#lang-link {
  background-color: $lang-link-background;
  color: $lang-link-color !important;
  padding-left: 5px;
  padding-right: 5px;
}

#lang-link:hover {
  background-color: $lang-link-hover-background;
  color: $lang-link-hover-color !important;
  cursor: pointer;
}

#lang-button:hover > #lang-option-container {
  height: 123px;
  width: 143px;
}

.lang-option {
  width: 119px;
}

#lang-options {
  width: 137px;
  height: 108px;
  border: $lang-options-border;
  background-color: $lang-options-background;
}

#lang-option-container {
  left: -12px;
  top: 18px;
}

#lang-option-container:hover ~ #lang-link {
  background-color: $lang-link-hover-background;
  color: $lang-link-hover-color;
}

.lang-option:hover:not(.lang-current) {
  background-color: $lang-option-hover-background;
  color: $lang-option-hover-color;
}

.lang-current {
  background-color: $lang-current-background;
}

.lang-current:active {
  pointer-events: none;
}

// LOGO

#logo-container {
  background-color: $logo-container-background;
  background-image: url(../themes/light/bg-stripe.png);
  background-position: top center;
  background-size: cover;
}

#logo {
  line-height: 25vw;
  font-size: 13vw;
  font-family: "Audiowide", cursive;
  font-weight: bold;
  color: transparent;
  filter: saturate(500%);
  text-shadow: $logo-text-shadow;
  margin-left: 4%;
}

@supports (-moz-background-clip: text) {
  #logo {
    background-size: 38%;
    background-image: url(https://media.giphy.com/media/3M9E7L03hNYnfrK6dM/giphy.gif);
  }
}

@supports (-webkit-background-clip: text) {
  #logo {
    background-size: 38%;
    background-image: url(https://media.giphy.com/media/3M9E7L03hNYnfrK6dM/giphy.gif);
  }
}

@supports (background-clip: text) {
  #logo {
    background-size: 38%;
    background-image: url(https://media.giphy.com/media/3M9E7L03hNYnfrK6dM/giphy.gif);
  }
}

// GENERIC

.text {
  background-color: $text-background;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 18px;
  line-height: 24px;
  margin-left: -8px;
  width: 1200px;
}

@media only screen and (max-width: $SMALL_SCREEN) {
  .text {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
}

.time-container {
  background-color: $time-container-background;
  width: 400px;
  height: 68px;
  padding-right: 5px;
}

.time-container-small {
  background-color: $time-container-background;
  width: 400px;
  height: 34px;
  padding-right: 5px;
}

.time-created {
  width: 395px;
}

.time-updated-border {
  border-bottom: $time-inner-border;
}

.time-updated {
  width: 395px;
}

.time {
  width: 135px;
}
